body{
	background-color: black;
	color: #39FF14;
}

@font-face {
    font-family: "HackerFont";
    src: url('./ANDALEMO.TTF') format("truetype");
}

.customfont { 
    font-family: "HackerFont", Verdana, Tahoma;
}

#intro{
	display: block;
	justify-content: center;
	padding-bottom: 2rem;
}

#title{
	text-align: center;
}

#instructions {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}

#limit-section{
	margin-right: auto;
	margin-left: auto;
	width: 75%;
}

#auth-section{
	margin-top: 1rem;
	font-size: 1.25rem;
}

#current-date, #games-played, #games-remaining{
	font-size: 1rem;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

#quiz-container{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.25rem;
	color: cyan;
}

#question {
	padding-bottom: 0.5rem;
}


#response {
	padding-bottom: .75rem;
	font-style: italic;
}

#questionbutton2, #questionbutton3, #questionbutton4{
	font-size: 1.25rem;
}

#loading{
	padding-bottom: 1rem;s
}

#final-pic{
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}


